################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Web/INFI.Web/.vs
/API/.vs/INFI.API/v14
/API/src/INFI.API/INFI.API.xproj.user
/Web/INFI.Web/src/INFI.Web/bin/Debug/netcoreapp1.0
/Web/INFI.Web/src/INFI.Web/obj/Debug/netcoreapp1.0
/Web/INFI.Web/src/INFI.Web/wwwroot/downloads
/Web/INFI.Web/src/INFI.Web/INFI.Web.xproj.user
/API/.vs/config
/API/src/INFI.API/bin/Debug/netcoreapp1.0
/API/src/INFI.API/obj/Debug/netcoreapp1.0
/Web/INFI.Web/src/INFI.Web/obj/Release/netcoreapp1.0
/Web/INFI.Web/src/INFI.Web/bin/Release
/Web/INFI.Web/src/INFI.Web/Properties/PublishProfiles
/Web/INFI.Web/src/INFI.Web/wwwroot/uploads
/NetMid/src/packages
/NetMid/src/main
/NetMid/src/.vs
